# Google C/C++ Code Style settings

Language: Cpp
BasedOnStyle: Google
ColumnLimit: 80

IndentWidth: 4    # Set indentation width to 4 spaces
TabWidth: 4       # Set tab width to 4 spaces
UseTab: Never     # Ensures spaces are used instead of tabs